/*css code to change login form logo to NOAA Fisheries as default (css file must be included in the login form's page)*/
span.t-Login-logo
{
    background-size: cover;
    width: 325px;
    height: 130px;
}
